.form form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.answer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}